# --- Rust / Cargo ---
/target/
/debug/
/release/
/Cargo.lock

# Artefactos compilados
*.rlib
*.rmeta
*.d
*.o
*.obj
*.a
*.lib
*.dll
*.exe
*.pdb

# Herramientas / pruebas
**/mutants.out*/

# Logs / dumps
*.log
*.tmp

# IDE / Editor
.vscode/
.idea/
*.iml

# SO
.DS_Store
Thumbs.db

# Proyecto (si los generas)
screenshots/
